{% extends 'base.html' %}
{% block content %}
<table>
    <tr>
        <th>Compteur</th>
        <th>Température</th>
        <th>Hygrométrie</th>
        <th>Date</th>
    </tr>
    {% for releve in releves %}
    <tr>
        <td>{{ releve.0 }}</td>
        <td>{{ releve.1 }}°C</td>
        <td>{{ releve.2 }} %</td>
        <td>{{ releve.3 }} - {{ releve.4 }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}